.bg-gray-50 {
  background-color: #F5E8C7;
}

.bg-blue-900 {
  background-color: #1E2A44;
}

.bg-red-500 {
  background-color: #D32F2F;
}

.bg-yellow-400 {
  background-color: #FFC107;
}

.text-blue-900 {
  color: #1E2A44;
}

.text-yellow-400 {
  color: #FFC107;
}

.bg-red-600 {
  background-color: #B71C1C;
}

.border-white {
  border-color: #F5E8C7;
}