.bg-white {
  background-color: #F5E8C7;
}

.text-blue-800 {
  color: #1E2A44;
}

.bg-yellow-400 {
  background-color: #FFC107;
}

.bg-red-500 {
  background-color: #D32F2F;
}

.bg-red-600 {
  background-color: #B71C1C;
}

.border-red-500 {
  border-color: #D32F2F;
}